[Unit]
Description=小白养基 ASP.NET Core Service
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/www/wwwroot/小白养基
ExecStart=/usr/bin/dotnet /www/wwwroot/小白养基/小白养基.dll --urls http://127.0.0.1:7084
Restart=always
RestartSec=3
KillSignal=SIGINT
SyslogIdentifier=xiaobaiyangji
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
